body {
    background: black;
    background: linear-gradient(90deg, rgba(156, 39, 176, 1) 29%, rgba(87, 72, 255, 1) 100%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.loading-indicator {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-indicator div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loading-indicator 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-indicator div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loading-indicator div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loading-indicator div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loading-indicator {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}